<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="container">
  <!-- NOTE: Download this image so it is local -->
  <img class="witlogo" src="https://www.wit.ie/assets/images/wit_crest.png" alt="witlogo"/>
  <h1><%= title %></h1>
  <p>This is WIT lost and found<br> If you have found any lost items please post here</p>
</div>
</body>
</html>
